.header-footer-color {
  background-color: #910606;
}
.header {
  border-radius: 10px 0px 10px 0px;
}
.footer {
  border-radius: 0px 10px 0px 10px;
}
.negative-margin {
  margin-top: -10px;
}
.left-side-margin {
  margin-left: -8px;
}
.main-content-color {
  background-color: #fbfcfc;
}
.bars-margin {
  margin-top: -20px;
}
.text-color {
  color: #910606;
}
.left-side {
  border-radius: 0px 10px 10px 0px;
  background-color: #cbf6cf;
}
.right-side {
  border-radius: 10px 0px 0px 10px;
  background-color: #cbf6cf;
}
.sidebar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.prevue-section {
  background-color: #f7df8c;
}
@media screen and (max-width: 749px) {
  .negative-margin {
    margin-top: 0px;
  }
  .left-side-margin {
    margin-left: 0px;
  }
  .fa-bars {
    margin-top: -20px;
  }
}
